* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 10px;
  /*line-height: 1em;*/
}

body {cursor:url(../img/hzw/41.ico),auto; }

html {
  padding: 0;
  margin: 0;
  font-size: 10px;
  /*line-height: 1em;*/
}

h1, h2 ,h3 ,h4 ,h5 ,h6 {
  text-transform: uppercase;
}

p {
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: italic;
}

/*質情*/
.pt-section-intro h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 1em;
  margin-bottom: 25px;
  text-shadow: 0px 0px 15px #d9312b;
}

.pt-section-intro p {
  color: #777791;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 2px;
  line-height: 1.5em;
  font-weight: 500;
  margin-bottom: 85px;
}
/* End */

/* 質情h4 */
.pt-section-show h4 {
  font-size: 18px;
  font-weight: 800;
  color: #d9312b;
  line-height: 1.2em;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}

.pt-section-show p {
  color: #7b869e;
  font-size: 14px;
  line-height: 1.7em;
}
/* End */


/* nav */


a {
  text-decoration: none;
  vertical-align: middle;
}

nav {
  position: fixed;
  padding: 10px 0;
  width: 100%;
  min-width: 768px;
  background:#D9312B;
  opacity: 0.8;
  top: 0;
  box-shadow: 0 1px 3px #333;
  z-index: 1000;
}

.logo {
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  float: left;
  margin-left: 30px;
  line-height: 50px;
  font-size: 23px;
  color: #f6bf01;
  font-style: italic;
  text-shadow: 0 1px 1px #000;
}

.logo:hover {
  font-size: 24px;
  text-shadow: 0 1px 5px #f6bf01;
}

.navigation {
  float: right;
  margin-left: -15px;
  margin-right: 40px;
}

.navigation div {
  float: left;
  position: relative;
  display: block;
}

.navigation div a {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  padding: 15px;
  font-size: 15px;
  font-weight: 900;
  display: block;
  letter-spacing: 1px;
}

.navigation div a:hover {
  color: #fed136;
}

/* end nav*/
/*Header*/

/*#h-header{
position: relative;
background-image: url(../img/web-phone/4.jpeg);
background-size: cover;
background-position: center center;
background-attachment: scroll;
color: #fff;
}

#h-header .container .ct-intro {
padding-top: 300px;
padding-bottom: 200px;
text-align: center;

}

.ct-intro  .description {
font-size: 40px;
letter-spacing: 2px;
line-height: 1em;
margin-bottom: 44px;
font-style: italic;
}

.ct-intro  .theme {
font-size: 75px;
font-weight: 800px;
line-height: 0.5em;
text-transform: uppercase;
margin-bottom: 70px;
}

.btn-xl {
font-weight: 500px;
font-size: 18px;
padding: 20px 40px;
background-color: #fed136;
border-radius: 5px;
line-height: 1em;
text-transform: uppercase;
}

#h-header::after {
content: "";
display: block;
position: relative;
box-shadow: 0 0 10px 10px rgba(0,0,0,0.2)
}

@media (max-width: 767px) {
body {
overflow-x: hidden;
}
#h-header .container .ct-intro {
padding-top: 100px;
padding-bottom: 50px;
}

.ct-intro  .description {
font-size: 20px;
line-height: 1em;
margin-bottom: 22px;
font-style: italic;
}

.ct-intro  .theme {
font-size: 50px;
font-weight: 500px;
line-height: 50px;
text-transform: uppercase;
margin-bottom: 30px;
}

.ct-intro .btn-xl {
font-weight: 500px;
font-size: 18px;
padding: 25px 40px;
background-color: #fed136;
border-radius: 5px;
line-height: 1em;
text-transform: uppercase;
}

.pt-section-1 .pt-section-show span{

}

}
*/
  #carousel-ct .carousel {
    margin: auto;
    position: relative;
    max-width: 1318px;
    min-height: 650px;
    overflow: hidden;
    border: solid 1px rgba(255,255,0,0.5);
    border-radius: 5px;
    box-shadow:0px 0 100px  rgba(255,255,0,0.5);
  }

  #carousel-ct .carousel ul,
  #carousel-ct .carousel li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #carousel-ct .carousel .img-ct {
    overflow: hidden;
    position: absolute;
  }

  #carousel-ct .carousel .img-ct li {
    float: left;
  }

  #carousel-ct .carousel .img-ct img {
    // min-width: 1300px;
    min-width: 1318px;
    max-height: 700px;
    cursor: default;
    cursor:url(../img/hzw/40.ico),auto;
  }

  #carousel-ct .carousel .img-ct img:hover {
    opacity: 0.95;
  }

  #carousel-ct .carousel .arrow	{
    position: absolute;
    color: black;
    z-index: 1;
    top:50%;
    transform:translateY(-50%);
    background-color: rgb(255,255,0);
    opacity: 0.5;
    border: solid 1px #fa0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: 800;
    text-decoration: none;
    border-radius: 15px;
  }

  #carousel-ct .carousel .turnLeft {
    left: 1%;
  }

  #carousel-ct .carousel .turnRight {
    right: 1%;
  }

  #carousel-ct .carousel .arrow:hover {
    opacity: 0.7
  }

  #carousel-ct .carousel .bullet {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 10;
    bottom: 10px;
  }

  #carousel-ct .carousel .bullet li {
    border: solid  1px rgba(255,200,0,0.5);
    width: 30px;
    height: 6px;
    display: inline-block;
    background: rgba(255,200,0,0.3);
    cursor: pointer;
  }

  #carousel-ct .carousel .bullet >.active {
    background-color: rgba(255,200,200,0.8);
    height: 10px;
    vertical-align: middle;
  }
  /* End header*/

  /* End section-1 */
  .pt-section-1, .pt-section-2, .pt-section-3, .pt-section-4 {
    position: relative;
    padding: 150px 0;
  }

  .pt-section-show {
    position: relative;
    text-align: center;
  }

  .pt-section-show .sl-img {
    overflow: hidden;
    margin: 10px auto;
    width: 200px;
    height: 200px;
    border: solid 5px #d9312b;
    border-radius: 50px;
  }

  .pt-section-show .sl-img img{
    width: 100%;
    height: 100%;
  }

  .pt-section-1 .pt-section-show span .fa-circle {
    position: relative;
    color: #fed136;
    font-size: 112px;
    margin-bottom: 20px;
  }

  .pt-section-1 .pt-section-show span .icon-use {
    position: absolute;
    font-size: 52px;
    color: #fff;
    top: 50%;
    margin-top: -26px;
    left: 50%;
    margin-left: -26px;
  }


  .pt-section-show h4 {
    margin-bottom: 15px;
  }

  @media (max-width: 767px) {
    .pt-section-1,
    .pt-section-2,
    .pt-section-3,
    .pt-section-4,
    .pt-section-5 {
      padding: 50px 0;
    }
  }

  /* End 	section1 */

  /* Start section2*/
  .pt-section-2 {
    /*position: relative;
    padding: 160px 0;*/
  background: #f7f7f7;
}

.pt-section-2 .show-pic-block>div {
  margin-bottom: 30px;
}

.pt-section-2 .show-pic-block a{
  display: block;
}

.pt-section-2 .show-pic-block img{
  border-radius: 20px 20px 0 0;
  width: 100%;
  box-shadow: 1px 1px 15px 3px rgba(0,0,0,0.5);
}

.pt-section-2 .pt-section-title {
  padding: 25px;
  background-color: #fff;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
}

.pt-section-2 .pt-section-title h4 {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.2em;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}

.pt-section-2 .pt-section-title p {
  color: #7b869e;
  font-size: 16px;
  line-height: 1.7em;
  margin: 0;
}

.pt-section-2 .ppinfo {
  height: 250px;
}

.pt-section-2 .ppinfo h4{
  margin-bottom: 10px;
  color: #d9312b;
}

.pt-section-2 .show-pic-block .pic-placeholder {
  position: relative;
  display: block;
  /*border: solid 2px;*/
}

.show-pic-block .pic-placeholder>div {
  position: absolute;
  width: 100%;
  height:100%;
  background-color: rgba(254,209,54,.5);
  opacity: 0;
  text-align: center;
}

.show-pic-block .pic-placeholder .pic-hover {
  position: absolute;
  display: inline-block;
  /*max-width: ;*/
  top: 50%;
  margin-top: -40px;
  margin-left: -40px;
}

.show-pic-block .pic-placeholder .pic-hover i {
  opacity: 0.8;
  font-size: 100px;
  color: #fff;
}

.pt-section-2 .show-pic-block .pic-placeholder:hover div{
  opacity: 1;
  cursor:url(../img/hzw/40.ico),auto;
}

@media (max-width: 767px) {
  .pt-section-2 .show-pic-block .pic-placeholder:focus div{
    opacity: 1;
  }
}
/* End section2*/

/* News start */

.news ul,li{
  list-style: none;
}

.news.wrap {
  /*border: solid 1px ;*/
  padding: 20px;
  position: relative;
  background-image: url(../img/hzw/3.jpg);
  background-size: cover;
  background-position: center center;	
  background-attachment: scroll;
  box-shadow: 1px 1px 20px 1px, 1px 1px 30px 1px;
}

.news .ct-waterfall{	
  max-width: 967px;
  margin: 100px auto;
}

.news .clearfix:after{
  content: '';
  display: block;
  clear: both;
}
.news #pic-ct{
  position: relative;
}
.news #pic-ct .item{
  position: absolute;
  padding: 0 0 10px 0;
  width: 300px;
  margin: 10px;
  border: 1px solid #DFDFDF;
  background: #FFF;
  opacity: 0;
  transition: all .8s;
  color: white;
  background-color: rgba(100,100,100,0.5);
  border-radius: 20px;
}
.news #pic-ct .item img{
  margin: 10px;
  width: 260px;
}
.news #pic-ct .item .header{
  height: 25px;
  margin: 0 12px;
  border-bottom: 1px solid #DBDBDB;
  font-weight: 800;
}
.news #pic-ct .desp{
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 15px 0;
  color: #fff;
}
.news #load{
  height: 20px;
}
.news .hide{
  display: none;
}
.news #pic-ct .item:nth-child(odd){
  line-height: 2em;
  letter-spacing: 1px;
}

.news .title {
  font-size: 40px;
  font-weight: 800;
  line-height: 1em;
  margin-bottom: 25px;
  color: #FFF;
}


/* News End */

/* Start section3*/
.pt-section-3 {
  min-height: 768px;
}

.pt-section-3 ul, li{
  list-style: none;
}

.pt-section-3 ul {
  margin-top: -20px;
}

.pt-section-3 li {
  position: relative;
  /*text-align: center;*/
  margin-bottom: 125px;
}

.pt-section-3 li img {
  /*position: relative;*/
  width: 180px;
  height: 180px;
  border-radius: 90px;
  border: 7px solid #f1f1f1;
  box-shadow: 1px 1px 15px 3px rgba(0,0,0,0.5);
}
/*
.pt-section-3 #flag {
border-radius: 20px;
box-shadow: 1px 1px 15px 3px rgba(0,0,0,0.5);
}
 */
  /*.pt-section-3 li .pt-section-type {
  position: absolute;
  max-width: 380px;
  text-align: right;
  top: 0;
  left: 50%;
  margin-left: -500px;
  }

  .pt-section-3 li:nth-child(even) div {
  text-align: left;
  padding: 0;
  margin: 0;
  left: 50%;
  margin-left: 120px;
  }
   */

  .pt-section-3 li:after {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 125px;
    left: 50%;
    background-color: #f1f1f1;
  }


  .pt-section-3 li:last-child:after {
    height: 0px;
    display:none !important;
  }


  .pt-section-3 li div time {
    font-size: 18px;
    font-weight: 800;
    line-height: 1.6em;
    text-transform: capitalize;
  }

  .pt-section-3:after {
    content: "";
    display: block;
    clear: both;
  }



  @media (min-width: 1200px) {

    .pt-section-3 li .pt-section-type {
      position: absolute;
      max-width: 380px;
      text-align: right;
      top: 0;
      left: 50%;
      margin-left: -500px;
    }

    .pt-section-3 li:nth-child(even) div {
      text-align: left;
      padding: 0;
      margin: 0;
      left: 50%;
      margin-left: 120px;
    }
  }

  @media (max-width: 992px) {

    .pt-section-show .img {
      width: 150px;
      height: 150px;
      margin-left: -75px;
    }

    .pt-section-type {
      padding: 0 20px 20px;
    }
  }


  @media (max-width: 768px) {
    html {
    }

    .pt-section-3 li {
      margin-bottom: 170px;
    }

    .pt-section-3 li img {
      position: relative;
      max-width: 100px;
      max-height: 100px;
      border-radius: 50px;
      border: 7px solid #f1f1f1;
      left: -150px;
    }

    .pt-section-3 li:after {
      content: "";
      display: block;
      position: absolute;
      width: 2px;
      height: 200px;
      left: 40px;
      background-color: #f1f1f1;
    }

    .pt-section-3:after {
      content: "";
      display: block;
      clear: both;
      padding-bottom: 140px;
    }

    .pt-section-show .img {
      max-width: 100px;
      max-height: 100px;
      left: 50%;
      margin-left: -50px;
    }

    .pt-section-type {
      max-width: 41%;
      float: left;
      padding: 0 20px 20px 30px;
      text-align: right;
    }

    .pt-section-3 li .pt-section-type {
      position: absolute;
      min-width: 269px;
      text-align: left;
      top: 22px;
      right: -8px;
    }
    /*
    .pt-section-3 li:last-child div {
    width: 100px;
    height:100px;
    border-radius: 50px;
    left: -5px;
    top: 20px;
    margin-left: 0;
    }

    .pt-section-3 li:last-child div h4 {
    padding-left: 6px;
    padding-top: 12px;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    }
     */

  .pt-section-3 li:last-child:after {
    content: "";
    display: block;
    position: absolute;
    height: 0;
  }


}
/* End section3*/


/* START section-4*/
.pt-section-4 {
  background: #f7f7f7;
}

.pt-section-4 .pt-section-4-show {
  padding: 0;
  margin: 0 0 50px 0;
}

.pt-section-4 .pt-section-4-show img {
  max-width: 350px;
  border-radius: 50px;
  border: solid 7px #fff;
}

.pt-section-4 .pt-section-title h4 {
  font-size: 18px;
  font-weight: 800px;
  line-height: 3em;
  text-transform: capitalize;
  padding-top: 0;
  margin-top:0;
}

.pt-section-4 .pt-section-title p {
  color: #7b869e;
  font-size: 16px;
  line-height: 1em;
  margin-top: -20px;
  margin-bottom: 20px;
}

.pt-section-4 .pt-section-4-show .social-block {
  margin: auto;
}

.social-block span {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #222;
  border-radius: 20px;
  margin: 0 5px;
  cursor: pointer;
}

.social-block span:hover {
  background-color: #fed136;
  transition-duration: 0.5s;



}

.social-block span:focus {
  background-color: #fed136;

}

.social-block i {
  color: #fff;
  font-size: 25px;
  position: absolute;
  top: 50%;
  margin-top: -13px;
  left: 0;
  left: 50%;
  margin-left: -8px;
}

.pt-section-4 .pt-section-4-footer {
  color: #77778c;
  margin: 0px;
  padding: 0 150px; 
  font-size: 18px;
  line-height: 1.6em;
}

@media(max-width: 766px) {
  .pt-section-4 .pt-section-4-footer {
    color: #77778c;
    margin: 0px;
    padding: 0 25pX 50px 25px;
    font-size: 15px;
    line-height: 1.8em;
  }
}


/* end section-4*/

/* start section-5*/


.pt-section-5 .ad-top img{
  cursor: pointer;
  padding: 0;
}

.pt-section-5 .pt-section-5-bg {
  background-image: url(../img/hzw/22.png);
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding: 200px 0;
}

.pt-menu input,
.pt-menu textarea{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  background-color: #FDD;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px  rgba(0,0,0,0.8);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  margin-bottom: 25px;
}


.pt-menu textarea,
.pt-menu input {
  padding: 30px;
}

.pt-menu textarea{
  display: block;
  height: 236px;
}


@media (max-width: 768px) {
  .pt-section-5 {
    padding: 0 0 20px;
  }

  .pt-menu-block {
    margin-right: 0;
    margin-left: 0;
  }
}



/* end section-5*/

/*footer*/

#footer {
  padding: 30px;
}

#footer .social-block p,
#footer .social-block div{
  display: inline-block;
  margin: 0 70px;
  vertical-align: middle;
  text-align: center;
}

#footer .social-block p {
  background-color: #fed136;
  font-size: 17px;
}

#footer .social-block p:last-child {
  background-color: white;
  font-weight: 800;
  color: #fed136;
}

@media (max-width: 678px) {

  #footer {
    padding: 0 0 30px;
  }

  #footer .social-block p,
  #footer .social-block div{
    /*margin: 0 70px;*/
  }

  #footer .social-block p {
    background-color: white;
    font-size: 17px;
    padding: 20px 0;
  }

  #footer .social-block p:last-child {
    background-color: white;
    font-weight: 800;
    color: #fed136;
  }
}

.goTop {
  background-image: url(../img/hzw/37.png);
  background-size: 100px;
  background-repeat: no-repeat;
  position: fixed;
  bottom: -40px;
  transform:translateY(-50%); 
  right: 10px;
  cursor: pointer;
  height:90px;
  width: 100px;
  line-height: 20px;
  padding: 10px;
  border-radius: 40px;
  opacity: 0.5;
  background-color: #d9312b;
  font-weight: 800;
  display: none;	
}
